<!-- 
* File: about.component.html
* Author: Balogh Csenge
* Copyright: 2023, Balogh Csenge
* Group: Szoft_II_N
* Date: 2022-02-01
* Github: https://github.com/csengekulker/
* Licenc: GNU GPL 
-->

<h1>About</h1>

<div class="container-sm justify-content-center">

  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Készítő</th>
        <td>Balogh Csenge Ágota</td>
      </tr>
      <tr>
        <th>Osztály</th>
        <td>Szoft_II_N</td>
      </tr>
      <tr>
        <th>Dátum</th>
        <td>2023.02.01</td>
      </tr>

    </tbody>

  </table>
</div>